[Desktop Entry]
Type=Link
Name=Safety Meeting Hub
URL=https://safetymeetinghub.netlify.app/
Icon=/home/marco/dtec-safety-hub/icon/safety-hub-icon.png
